body {
  font-family: 'playfair_displayregular';
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
}

.title {
  font-size: 3rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: black;
  font-weight: bold;
}

@font-face {
  font-family: 'playfair_displayregular';
  src: url('playfairdisplay-regular.woff2') format('woff2'),
    url('playfairdisplay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
