body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url('background.jpg');
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.paragraph {
  text-align: justify;
  padding: 1rem;
  font-family: 'playfair_displayregular';
}

.title {
  font-size: 3rem;
}

.icon {
  max-width: 0.7em;
  height: auto;
}

@font-face {
  font-family: 'playfair_displayregular';
  src: url('playfairdisplay-regular.woff2') format('woff2'),
    url('playfairdisplay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
